.account-results{
    margin: 1em .1em;
    border: 1px solid #4e413b;
    border-radius: 3px;
    padding: 0.5em;
}

.account-results h2{
    background-color: #acdbdf;
    clear: right;
}

.account-results h2,
.account-results h3 {
    text-align: center;
}

.account-results p {
    text-align: right;
}

.account-results button{
    margin-bottom: .5em;
    float: right;
    cursor: pointer;
    font-size: 1.3em;
    padding: .2em .5em;
    border-radius: 3px;
    background-color: lightgray;
    border: 1px solid lightgray;
    color: #857671;
}

.account-results button:focus,
.account-results button:hover {
    color: lightgray;
    background-color: #857671;
    outline: none;
}

.account-results .tooltip .tooltiptext {
    left: 20px;
    bottom: -25px;
    font-size: .6em;
    width: 100%;
}

@media screen and (orientation: landscape) {
    .account-results {
        margin: 1em auto;
        width: 100%;
    }

}
