.check-out{
    width: 90%;
    margin: auto;
}

.check-out-form{
    padding: .8em;
    margin: .5em auto;
}

.check-out-form label{
    margin-left: 1.5em;
    font-size: 1.3em;
    padding-top: .2em;
}

.check-out-form input{
    display: block;
    width: 80%;
    margin: .5em auto;
    font-size: 1.3em;
    padding: .2em;
}

.check-out-form button{
    width: 60%;
    display: block;
    margin: 1.5em auto 1em;
}

.check-out-form input[type=radio]{
    width: 40px;
    display: inline-block;
    margin: 0;
}

.check-out-form .tooltip .tooltiptext {
    left: 20px;
    bottom: -50px;
}

.check-out-form .loader {
    width: 2.5em;
    height: 2.5em;
}

@media screen and (orientation: landscape) {
    .check-out-form {
        padding: 0 0 .5em;
    }

    .check-out h1 {
        margin-block-start: 0.2em;
        margin-block-end: 0;
    }


    .check-out-form label {
        margin-left: 3em;
    }

    .check-out-form input {
        width: 70%;
        margin: .2em auto;
    }


}
