.edit-form{
    margin: 1em auto 2em;
}

.edit-form input{
    display: block;
    font-size: 1.1em;
    padding: .2em;
    width: 60%;
    margin: auto;
}

.edit-form select {
    display: block;
    margin: auto;
    width: 60%;
    padding: .3em;
}

.edit-form label {
    text-transform: capitalize;
    font-size: 1em;
    text-align: left;
    width: 65%;
    margin: .7em auto 0;
    padding-left: .4em;
}

.edit-form input[type="radio"]{
    display: inline-block;
    width: 1em;
    margin-left: .5em;
}

.edit-form .radio-fields label {
    margin-left: 0em;
}

@media screen and (orientation: landscape){
     .edit-form {
         width: 90%;
     }

}

@media screen and (min-width: 750px) {
     .edit-form {
         width: 80%;
     }
}
