.edit-form{
    margin: 1em 0em 2em;
}

.edit-form input{
    display: block;
    font-size: 1.2em;
    padding: .3em;
    width: 80%;
    margin: auto;
}

.edit-form select {
    display: block;
    padding: .3em;
}

.edit-form label {
    text-transform: capitalize;
    font-size: 1.2em;
    text-align: left;
    margin-left: 1em;
    margin-top: .7em;
}

.edit-form input[type="radio"]{
    display: inline-block;
    width: 1em;
    margin-left: .5em;
}

.edit-form .radio-fields label {
    margin-left: 0em;
}