.filter-form{
    padding-bottom: .3em;
    padding-top: .3em;
    border-radius: 3px;
    background-color: #fab95b;
}

.filter-form input{
    font-size: 1.2em;
    display: block;
    margin: .3em auto;
    padding-bottom: .3em;
    background-color: white;
}

.filter-form input:focus,
.filter-form input:hover{
    background-color: #fcf9f4;
}

.filter-form label{
    padding-left: 1em;
}

@media screen and (orientation: landscape) {
    .filter-form label,
    .filter-form input{
        display: inline-block;
        margin: auto;
    }

    .filter-form label {
        margin-right: 1.5em;
    }
   
}

@media screen and (min-width: 750px) {

    .filter-form{
        text-align: right;
    }

    .filter-form input {
        margin-right: 1.5em;
    }

}
