.form {
    width: 100%;
    margin: auto;
    background-color: #acdbdf;
    border-radius: 3px;
}

.form label {
    display: block;

}

.form input:focus,
.form select:focus{
    background-color: #e8fcf6;
    outline: none;
}

.form button {
    max-width: 50%;
    padding: .6em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #5c4d4d;
    cursor: pointer;
    color: #e8fcf6;
    box-shadow: 0px 1px 2px 1px #5d5d5a;
    transition: background-color .4s ease;
}

.form button:hover,
.form button:focus {
    background-color: #857671;
    box-shadow: 0px 1px 3px 1px #738598;
    outline: none;
}

.form-error {
    width: 80%;
    margin: auto;
    font-size: 1em;
    text-align: center;
    background-color: #e8e2db;
    border-radius: 4px;
    color: red
}