.form {
    width: 100%;
    margin: auto;
    background-color: #acdbdf;
    border-radius: 3px;
 
}

.form input:focus,
.form select:focus{
    background-color: #e8fcf6;
    outline: none;
}

.form button {
    width: 50%;
    padding: .6em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #5c4d4d;
    /* background-color: #857671; */
    cursor: pointer;
    color: #e8fcf6;
    box-shadow: 0px 1px 2px 1px #5d5d5a;
    transition: background-color .4s ease;
}

.form button:hover,
.form button:focus {
    background-color: #857671;
    box-shadow: 0px 1px 3px 1px #738598;
    outline: none;
    /* color: #625757; */
}

.form-error {
    width: auto;
    font-size: 1em;
    /* font-weight: bold; */
    background-color: #e8e2db;
    border-radius: 4px;

}