.results-table{
    box-shadow: 1px 1px 3px 1px #738598;
    width: 90%;
    margin: auto;
}

.results-table,
.results-table td {
    border: 3px solid #acdbdf;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: center;
}

.results-table th{
    background-color: #acdbdf;
    text-transform: capitalize;
    padding: .5em;
}

.results-table td {
    padding: .5em;
}

.results-table tr {
    transition: background-color .5s ease;
}

.results-table tr:focus,
.results-table tr:hover{
    background-color: #f2f1e7;
    color: lightgray;
}

@media screen and (orientation: landscape) {
    .results-table {
        clear: right;
        margin: auto;
        width: 70%;
    }

}



