$primary-color: blue;
// How you import this will depend heavily on your build setup 
// If using webpack though, `~` refers to node_modules 
// @import '~loaders.css/src/animations/line-scale.scss' 
@import '~loaders.css/src/animations/line-scale.scss';

.loader-hidden {
    display: none;
}

.loader-active {
    display: block;
}