.modal-item{
    background-color: white;
    width: 100%;
    border-radius: 3px;
    padding: 0em 2em .5em;
    color: #4e413b;
}

.modal-item table{
    text-align: left;
}

.modal-item .big {
    text-align: right;
    font-size: 1.3em;
    border-bottom: none;
}

.modal-item tr{
    text-transform: capitalize;
}

.modal-item th {
    background-color: #e8fcf6;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 6px;
    text-align: center;
    padding: 3px;
    margin: 0 .5em 1em;
    border-bottom: none;
}

.modal-item tr>td:nth-child(even) {
    text-align: center;
}

.modal-item tbody>tr:nth-child(odd) {
    background-color: #e8fcf6;
}

.close-button{
    width: 100%;
    background-color: transparent;
    text-align: right;
    padding-right: 1.5em;
    padding-top: 1em;
    transition: font-size .6s ease;
}

.close-button:hover,
.close-button:focus{
    color: #834c69;
    outline: none;
    cursor: pointer;
}
