.reports-page{
    width: 80%;
    margin: auto;
}

.reports-page h1{
    padding-top: 1em;
}

.reports-page ul{
    margin: 3em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
}

.reports-page li{
    box-shadow: 1px 3px 2px 1px #4e413b;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .4s ease;
}

.reports-page button{
    color: #4e413b;
    width: 100%;
    cursor: pointer;
    padding: 1em;
    font-size: .9em;
    background-color: transparent;
    border: none;
}

.reports-page li:hover,
.reports-page li:focus {
    background-color: #857671;
    color: #fcf9f4;
    box-shadow: 0px 1px 3px 1px #738598;
}

.reports-page button:hover,
.reports-page button:focus{
    outline: none;
    color: #fcf9f4;
}

.report-icon{
    display: block;
    width: 50%;
    margin: 1em auto 0;
}

@media screen and (orientation: landscape) {
    .reports-page {
        margin: 0em auto;
        width: 50%;
    }

    .reports-page h1 {
        padding-top: .2em;
            margin-block-end: 0.4em;
    }

    .reports-page ul {
        margin: 0 auto;
    }

    .reports-page button {
        padding: .5em;
    }

}

@media screen and (min-width: 750px) {
    .reports-page {
        width: 50%;
    }

    .reports-page h1 {
        padding-top: .5em;
        margin-block-end: 1em;
    }

    .reports-page button {
        padding: 1.5em;
        font-size: 1.3em;
    }


}