.search-form{
    padding: 6% 10%;
    text-align: center;
}

.search-form label {
    font-size: 1.1em;
}

.search-form input{
    margin: 1.2em auto .5em;
    font-size: 1.2em;
    padding: .4em .2em;
}

.search-form .tooltip .tooltiptext {
    left: 35px;
    bottom: -30px;
    font-size: 1em;
}

@media screen and (orientation: landscape) {
    .search-form {
        padding: 3% 7% 0;
    }

    .search-form input {
        margin: .4em auto .4em;
    }

}

@media screen and (min-width: 750px){
    .search-form {
        padding: 5% 7% 2%;
    }
}