.side-drawer{
    height: 100%;
    background-color: #834c69;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 55%;
    z-index: 200;
    /* to make side drawer apper from the left slowly */
    transform: translateX(-200%);
    transition: transform 0.3s ease-out;
}

.side-drawer.open{
    transform: translateX(0);
}

.side-drawer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer li {
    margin-top: 1.5em;
}

.side-drawer button{
    text-align: left;
    color: #fcf9f4;
    background-color: #834c69;
    font-size: 1em;
    width: 100%;
}

.side-drawer button:focus,
.side-drawer button:hover {
    background-color: #fcf9f4;
    color: black;
}

@media (min-width: 750px){
    .side-drawer{
        display: none;
    }
}