.side-drawer {
    height: 100%;
    background-color: #0a516d;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 55%;
    z-index: 200;
    /* to make side drawer appear from the right side slowly */
    transform: translateX(200%);
    transition: transform 0.3s ease-out;
}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer li {
    margin-top: 1.5em;
}

.side-drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer button {
    margin-left: 2em;
    text-align: left;
    color: #fcf9f4;
    background-color: #0a516d;
    font-size: 1em;
    width: 50%;
    transition: font-size .3s ease;
}

.side-drawer button:focus, 
.side-drawer button:hover {
    font-size: 1.1em;
    color: gray;
    outline: none;
}

@media (min-width: 750px) 
and (orientation: landscape){
    .side-drawer {
        display: none;
    }
}

@media (max-width: 750px)
    and (orientation: landscape){

    .side-drawer li {
        margin-top: .8em;
    }
    .side-drawer button {
        margin-left: 3em;
        font-size: 1em;
    }

}