.sign-form{
    /* override background-color from 'form' class */
    background-color: white !important;
    min-width: 280px;
    box-shadow: none;
}

.sign-form label{
    font-size: 1.1em;
    text-transform: capitalize;
}

.sign-form button{
    width: 70%;
    background-color: #acdbdf;
    color: #5c4d4d;
}

@media screen and (min-width: 750px) {
    .sign-form label{
        margin-top: .5em;
    }

      .sign-form button {
          margin-top: 2em;
      }
    

}





