.sign-up-form{
    /* override background-color from 'form' class */
    background-color: white !important;
    min-width: 280px;
}

.sign-up label{
    font-size: 1.1em;
    text-transform: capitalize;
}

.sign-up-form button{
    width: 70%;
    background-color: #acdbdf;
    color: #5c4d4d;
}





